<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Change Password
      </ion-card-title>
    </ion-card-header>

    <div class="login-items">
      <ion-card-content>Please enter your email below. A password change email will be sent out through where you can change your password.</ion-card-content>
      <ion-item lines="full">
        <ion-label position="stacked">Enter your email</ion-label>
        <ion-input required type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <section class="buttons">
        <ion-button (click)="change()">Change</ion-button>
        <ion-button (click)="back()">Cancel</ion-button>
      </section>

    </div>

  </ion-card>
</ion-content>
