<ion-header>
  <ion-toolbar>
    <ion-title>How To Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UXJrBgI2RxA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Squats</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A squat is a strength exercise in which the trainee lowers their hips from a standing position and then stands back up. Squats are considered a vital exercise for increasing the strength and size of the lower body muscles as well as developing core strength.
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4aVy2Xj6wYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Bench Press</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The bench press is an upper-body weight training exercise in which the trainee presses a weight upwards while lying on a weight training bench. A barbell is generally used to hold the weight, but a pair of dumbbells can also be used.
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ir8IrbYcM8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Pull Ups</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A pull-up is an upper-body strength exercise. The pull-up is a closed-chain movement where the body is suspended by the hands and pulls up. As this happens, the elbows flex and the shoulders adduct and extend to bring the elbows to the torso. 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DNJya2CBQJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Dead Lifts</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The deadlift is a weight training exercise in which a loaded barbell or bar is lifted off the ground to the level of the hips, torso perpendicular to the floor, before being placed back on the ground.
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TwD-YGVP4Bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Hammer Curls</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The Hammer Curl is a quintessential weightlifting exercise that targets the biceps and forearms. The exercise is performed with dumbbells, and it strengthens the three largest muscles along the front of your upper arms. 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jDwoBqPH0jk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Sit Ups</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The sit-up (or curl-up) is an abdominal endurance training exercise to strengthen, tighten and tone the abdominal muscles. It is similar to a crunch but sit-ups have a fuller range of motion and condition additional muscles. 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MKmrqcoCZ-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Crunches</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The crunch is one of the most popular abdominal exercises. It involves the entire abs, but primarily it works the rectus abdominis muscle and also works the obliques. It allows both building six-pack abs, and tightening the belly. 
    </ion-card-content>
  </ion-card>
  
  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JyCG_5l3XLk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Push Ups</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A push-up is a common calisthenics exercise beginning from the prone position. While the push-up primarily targets the muscles of the chest, arms, and shoulders, support required from other muscles results in a wider range of muscles integrated into the exercise.
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script> -->