<ion-header>
  <ion-toolbar>
    <ion-title>How To Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UXJrBgI2RxA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Squats</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus iure iste laudantium error veniam officia soluta 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4aVy2Xj6wYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Bench Press</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus iure iste laudantium error veniam officia soluta 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ir8IrbYcM8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Pull Ups</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus iure iste laudantium error veniam officia soluta 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DNJya2CBQJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Dead Lifts</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus iure iste laudantium error veniam officia soluta 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TwD-YGVP4Bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Hammer Curls</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus iure iste laudantium error veniam officia soluta 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/jDwoBqPH0jk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Sit Ups</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus iure iste laudantium error veniam officia soluta 
    </ion-card-content>
  </ion-card>

  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MKmrqcoCZ-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Crunches</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus iure iste laudantium error veniam officia soluta 
    </ion-card-content>
  </ion-card>
  
  <ion-card class="workout">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JyCG_5l3XLk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-header>
      <ion-card-title>Push Ups</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus iure iste laudantium error veniam officia soluta 
    </ion-card-content>
  </ion-card>




  <ion-list>
    <ion-item>Amsterdam</ion-item>
    <ion-item>Bogota</ion-item>
    <ion-item>Buenos Aires</ion-item>
    <ion-item>Cairo</ion-item>
    <ion-item>Dhaka</ion-item>
    <ion-item>Edinburgh</ion-item>
    <ion-item>Geneva</ion-item>
    <ion-item>Genoa</ion-item>
    <ion-item>Glasgow</ion-item>
    <ion-item>Hanoi</ion-item>
    <ion-item>Hong Kong</ion-item>
    <ion-item>Islamabad</ion-item>
    <ion-item>Istanbul</ion-item>
    <ion-item>Jakarta</ion-item>
    <ion-item>Kiel</ion-item>
    <ion-item>Kyoto</ion-item>
    <ion-item>Le Havre</ion-item>
    <ion-item>Lebanon</ion-item>
    <ion-item>Lhasa</ion-item>
    <ion-item>Lima</ion-item>
    <ion-item>London</ion-item>
    <ion-item>Los Angeles</ion-item>
    <ion-item>Madrid</ion-item>
    <ion-item>Manila</ion-item>
    <ion-item>New York</ion-item>
    <ion-item>Olympia</ion-item>
    <ion-item>Oslo</ion-item>
    <ion-item>Panama City</ion-item>
    <ion-item>Peking</ion-item>
    <ion-item>Philadelphia</ion-item>
    <ion-item>San Francisco</ion-item>
    <ion-item>Seoul</ion-item>
    <ion-item>Taipeh</ion-item>
    <ion-item>Tel Aviv</ion-item>
    <ion-item>Tokio</ion-item>
    <ion-item>Uelzen</ion-item>
    <ion-item>Washington</ion-item>
  </ion-list>
</ion-content>

<script>
  const searchbar = document.querySelector('ion-searchbar');
  const items = Array.from(document.querySelector('ion-list').children);

  searchbar.addEventListener('ionInput', handleInput);

  function handleInput(event) {
    const query = event.target.value.toLowerCase();
    requestAnimationFrame(() => {
      items.forEach(item => {
        const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
        item.style.display = shouldShow ? 'block' : 'none';
      });
    });
  }
</script>