<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="back()">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <h3>Alex Madesclaire</h3>
  </ion-item-divider>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <strong>Role:</strong> UX designer
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      Created the Workout page, Charts page, and About page for the app. Customized and tested Android dark mode color theming. Customized app font using google fonts.
    </ion-label>
  </ion-item>

  <br>

  <ion-item-divider>
      <h3>Soumil Datta</h3>
  </ion-item-divider>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <strong>Role:</strong> UI designer
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      Created the Profile page, login page, and the how-to page for the app. Customized and tested overall app color theming and iOS dark mode color theming. 
    </ion-label>
  </ion-item>
  
</ion-content>
