<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <h3>Alex Madesclaire</h3>
  </ion-item-divider>
  <ion-item>
    Role: UX designer?

    Created the Workout page, Charts page, and About page for the app.
  </ion-item>

  <br>

  <ion-item-divider>
      <h3>Soumil Datta</h3>
  </ion-item-divider>
  <ion-item>
    Role: UI designer?

    Created the Profile page, login page, and the how-to page for the app.
  </ion-item>
</ion-content>
