// ion-content{
//     --background: rgba(0,0,0,0.8) url('../../assets/img/workout2.jpg') no-repeat center center/cover;
// }

ion-card {
    top: 15%;
}

ion-button {
    width: 150px;
    margin: 45px 10px 40px 10px;
}

.buttons {
    text-align: center;
}

ion-item {
    margin-bottom: 3%;
}

ion-card-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 45px;
}
