// ion-content{
//     --background: rgba(0,0,0,0.8) url('../../assets/img/workout2.jpg') no-repeat center center/cover;
// }

ion-card {
    top: 10%;
}

ion-button {
    width: 140px;
    margin: 45px 10px 40px 10px;
}

.forgot ion-button {
    width: 160px;
}

.buttons {
    text-align: center;
}

ion-item {
    margin-bottom: 3%;
}

ion-card-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 45px;
}

img {
    margin-bottom: 15px;
}

.forgot {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
}

button {
    background-color: rgba($color: #000000, $alpha: 0.0);
    color: #cc4848;
    font-size: 1.05rem;
}