<script src="soumil-strength/node_modules/Chart.js"></script>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--header-->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Charts</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <!--- Card 1-->
  <ion-grid *ngFor="let item of users">
    <!--Row-->
    <ion-row>
      <ion-col>
        <ion-card *ngIf="this.person.getUID() == item.id">
          <ion-card-header>
            <ion-card-title>Sessions Done</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{item.sessions}}</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card *ngIf="this.person.getUID() == item.id">
          <ion-card-header>
            <ion-card-title>Calories Burned</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{item.calories}}</ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <!--Row-->
    <ion-row>
      <ion-col>
        <ion-card *ngIf="this.person.getUID() == item.id">
          <ion-card-header>
            <ion-card-title>Total Increase</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{item.increase}} pounds</ion-card-content>
        </ion-card>
      </ion-col>

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Coolest TA/Professor</ion-card-title>
          </ion-card-header>
          <ion-card-content>You obviously, yah handsom sob</ion-card-content>
        </ion-card>
      </ion-col> -->

    </ion-row>

   


    <!-- Row
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
  
      </ion-col>
    </ion-row> -->


    
  </ion-grid>





</ion-content>
