ion-card {
    top: 10%;
}

ion-button {
    width: 150px;
    margin: 45px 10px 40px 10px;
}

.buttons {
    text-align: center;
}

ion-item {
    margin-bottom: 3%;
}

ion-card-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 45px;
}

img {
    margin-bottom: 15px;
}