ion-card {
    top: 5%;
}

ion-button {
    width: 150px;
    margin: 40px 10px 40px 10px;
}

.buttons {
    text-align: center;
}

ion-item {
    margin-bottom: 2%;
}

ion-card-header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

img {
    margin-bottom: 10px;
}